.home-main {
  position: relative;
}

#navbar {
  position: fixed;
  top: 0;
  z-index: 3;
  width: 100vw;
  background-color: rgb(33, 37, 41);
}

.home-content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.background {
  text-align: center;
  z-index: 1;
  color: white;
  width: 80vw;
}

.icon {
  cursor: pointer;
  transform: scale(1);
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.8);
  }

  30% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.8);
  }
}

.video-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%; 
  overflow: hidden;
}
.video-container video {
  pointer-events: none;

  min-width: 100%; 
  min-height: 100%; 

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.triangle {
  width: 0;
  height: 0;
  position: absolute;
  top: 100vh;
  left: 0;
  z-index: 2;
}

.box {
  min-height: 100vh;
  width: 100%;
  z-index: 2;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.about-main {
  background: #e8cbc0;
  background: -webkit-linear-gradient(to right, #e8cbc0, #636fa4);
  background: linear-gradient(to right, #e8cbc0, #636fa4);
  min-height: 100vh;
}

.about-content {
  text-align: center;
  width: 90vw;
  margin: auto;
}

.about-content a {
  color: black;
}

.horizontal .picture {
  width: 100%;
  height: 200px;
  background: rgba(128, 128, 128, 0.5);
}

.vertical .picture {
  position: absolute;
  float: left;
  height: 100%;
  width: 40%;
  background: rgba(128, 128, 128, 0.5);
}

.vertical .desc {
  float: right;
  width: 60%;
}

.testing:after {
  position: relative;
  content: "";
  display: table;
  clear: both;
}