.home-main {
  position: relative;
}

#navbar {
  position: fixed;
  top: 0;
  z-index: 3;
  width: 100vw;
  background-color: rgb(33, 37, 41);
}

.home-content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.background {
  text-align: center;
  z-index: 1;
  color: white;
  width: 80vw;
}

.icon {
  cursor: pointer;
  transform: scale(1);
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.8);
  }

  30% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.8);
  }
}

.video-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%; 
  overflow: hidden;
}
.video-container video {
  pointer-events: none;

  min-width: 100%; 
  min-height: 100%; 

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.triangle {
  width: 0;
  height: 0;
  position: absolute;
  top: 100vh;
  left: 0;
  z-index: 2;
}

.box {
  min-height: 100vh;
  width: 100%;
  z-index: 2;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.box.first {
  position: absolute;
  top: 100vh;
  left: 0;
}

.box.second {
  position: absolute;
  top: 200vh;
  left: 0;
}

.content {
  width: 80vw;
}

@keyframes fadeInBottom {
  0% {
     opacity: 0;
     transform: translateY(100px);
  }
  100% {
     opacity: 1;
     transform: translateY(0);
  }
}

.top {
  opacity: 0;
}

.show{
  opacity: 1;
  animation: fadeInBottom 1s;
}

.about-main {
  background: #e8cbc0;
  background: -webkit-linear-gradient(to right, #e8cbc0, #636fa4);
  background: linear-gradient(to right, #e8cbc0, #636fa4);
  min-height: 100vh;
}

.about-content {
  text-align: center;
  width: 90vw;
  margin: auto;
  margin-top: 56px;
}

.about-content a {
  color: black;
}

.horizontal {
  max-width: 400px;
}

.horizontal .picture {
  width: 100%;
  padding-top: 150%;
  background: rgba(128, 128, 128, 0.5);
}

.vertical .picture {
  position: absolute;
  float: left;
  height: 100%;
  padding-left: 66.67%;
  background: rgba(128, 128, 128, 0.5);
}

.vertical .desc {
  float: right;
  width: 33.33%;
}

.testing:after {
  position: relative;
  content: "";
  display: table;
  clear: both;
}

.footer {
  width: 100%;
  min-height: 200px;
  background-color: rgb(33, 37, 41);
}

::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background: #ddd;
  border-radius: 6px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background: #888; 
  border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}